# Copy this file into a new file called ".env" in the root of the project.
# The dotenv gem will load the contents of .env into the environment when
# Rails starts. Access values like this: ENV["RAILS_SECRET_KEY_BASE"]
#
# The purpose of this file is to keep secrets out of source control.
# For more information, see: https://github.com/bkeepers/dotenv

RAILS_SECRET_KEY_BASE=3d63a95d53d5f4a5676f6d445b6fad58667e1875b7269f92750a99f8c31aa42657f6111ffd6f7d24db26bcb121075279814b547531762cc865a73bd00ba315ae
